@{
    Layout = "_Layout.cshtml";
}

<h1 class="text-light text-center mt-5">@ViewData["Title"]</h1>
<div class="text-light d-flex justify-content-center row">
    <div class="col-md-4">
        @RenderBody()
    </div>
</div>