@{ 
    ViewData["Title"] = "Profile Details";
}

<head>
    <link rel="stylesheet" href="/css/main.css">
</head>

<div class="form-report text-center" style="max-width: 800px">
    <h1 class="h1 mb-5 fw-bold text-light">Edit Profile Details</h1>

    <form class="text-dark">
        <div class="form-floating text-end">
            <div class="row mb-5 align-items-center">
                <div class="col-4">
                    <img src="/images/defaultprofile.png" width="150" height="150" class="rounded-circle mx-auto d-block ">
                </div>
                <div class="col-8 d-flex justify-content-start text-light">
                    <input type="file" style="display:block !important;"/>
                </div>
            </div>

            <div class="row mb-4">
                <div class="h5 col-4 text-light">
                    Change Email Address:
                </div>
                <div class="col-8">
                    <input type="text" placeholder="Email Address" class="form-control" />
                    <p class="h6 fw-lighter text-light text-start">Must be a UM Email Address</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="h5 col-4 text-light">
                    Change Username:
                </div>
                <div class="col-8">
                    <input type="text" placeholder="Username" class="form-control" />
                </div>
            </div>

            <div class="row mb-4">
                <div class="h5 col-4 text-light">
                    Change Bio:
                </div>
                <div class="col-8">
                    <textarea name="bio" cols="60" rows="5"></textarea>
                </div>
            </div>

            <div class="row mb-4">
                <div class="h5 col-4 text-light">
                    Change Password:
                </div>
                <div class="col-8">
                    <input type="text" placeholder="Password" class="form-control" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="h5 col-4 text-light">
                    Confirm Password:
                </div>
                <div class="col-8">
                    <input type="text" placeholder="Confirm Password" class="form-control" />
                </div>
            </div>
        </div>
        <a type="submit" class="btn btn-outline-light btn-block btn-lg mb-4" asp-area="" asp-controller="Profile" asp-action="Index">Edit Details</a>
    </form>
</div>