@{ 
    ViewData["Title"] = "Sign Up";
}

<head>
    <link rel="stylesheet" href="/css/form.css">
</head>

<main class="form-report">
    <h1 class="h1 mb-5 fw-bold text-light">NEMESYS</h1>
    <h1 class="h3 mb-3 fw-normal text-light">Sign Up</h1>

    <form>
        <div class="form-floating">
            <input type="email" class="form-control" id="emailSignUp" placeholder="Email Address">
            <label for="emailSignUp">Email Address <i>(must be UM Email Address)</i></label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="userSignUp" placeholder="Username">
            <label for="emailSignUp">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passSignUp" placeholder="Password">
            <label for="passSignUp">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passSignUp" placeholder="Confirm Password">
            <label for="passSignUp">Confirm Password</label>
        </div>

        <div class="checkbox mb-5 text-light">
            <input type="checkbox" value="remember-me">  Remember me
        </div>
        <button class="w-100 btn btn-lg btn-outline-light" type="submit">Sign Up</button>
        <p class="mb-1 fw-normal text-light">Already have an account? Sign in <a href="index.html" class="link-primary">here</a>.</p>
    </form>
</main>