@{
    ViewData["Title"] = "Sign In";
}
<div class="form-report text-center" style="max-width: 400px">
    <h1 class="h1 mb-5 text-light">NEMESYS</h1>
    <h1 class="h3 mb-3 fw-normal text-light">Sign In</h1>

    <div class="form-floating">
        <input type="email" class="form-control" id="emailSignIn" placeholder="Email Address">
        <label for="emailSignIn">Email Address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="passSignIn" placeholder="Password">
        <label for="passSignIn">Password</label>
    </div>

    <div class="checkbox mb-5">
        <div class="text-light"><input type="checkbox" value="remember-me">  Remember me</div>
    </div>
    <a class="w-100 btn btn-lg btn-outline-light" type="submit" asp-area="" asp-controller="Home" asp-action="Index">Sign In</a>
    <p class="mb-1 fw-normal text-light">or Sign Up <a class="link-primary" asp-area="" asp-controller="Profile" asp-action="Signup">here</a></p>
</div>
