@{ 
    ViewData["Title"] = "Sign Up";
}

<div class="form-report text-center" style="max-width: 400px">
    <h1 class="h1 mb-5 fw-bold text-light">NEMESYS</h1>
    <h1 class="h3 mb-3 fw-normal text-light">Sign Up</h1>

    <div>
        <div class="form-floating">
            <input type="email" class="form-control" id="emailSignUp" placeholder="Email Address">
            <label for="emailSignUp">Email Address <i>(must be UM Email Address)</i></label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="userSignUp" placeholder="Username">
            <label for="emailSignUp">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passSignUp" placeholder="Password">
            <label for="passSignUp">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passSignUp" placeholder="Confirm Password">
            <label for="passSignUp">Confirm Password</label>
        </div>

        <div class="checkbox mb-5 text-light">
            <input type="checkbox" value="remember-me">  Remember me
        </div>
        <a class="w-100 btn btn-lg btn-outline-light" type="submit" asp-area="" asp-controller="Home" asp-action="Index">Sign Up</a>
        <p class="mb-1 fw-normal text-light">Already have an account? Sign in <a class="link-primary" asp-area="" asp-controller="Profile" asp-action="Signin">here</a>.</p>
    </div>
</div>