@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-light">
    <h1 class="text-center mt-5">Manage your account</h1>
    <div class="row mt-5">
        <div class="col-md-3 ms-3 mb-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8 ms-3">
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
