@page
@model BioModel
@{
    ViewData["Title"] = "Manage Bio";
    ViewData["ActivePage"] = ManageNavPages.Bio;
}

<h3 class="text-light">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row text-light form-group d-flex">
    <div class="col-md-6">
        <form id="change-bio-form" method="post">
            <div class="form-group">
                <label asp-for="Bio"></label>
                <div class="input-group">
                    <textarea asp-for="Bio" class="form-control" disabled></textarea>
                </div>
            </div>
            @Html.DisplayFor(model => model.Input.NewBio)
            <div class="form-group d-flex">
                <button type="submit" class="mt-2 mb-3 btn btn-lg btn-outline-light">Update Bio</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/scripts/textarea-counter.js" async defer></script>
}