@page
@model IndexModel
@{
    ViewData["Title"] = "Username";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="text-light">@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row text-light form-group d-flex">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div class="form-group">
                <label asp-for="Alias"></label>
                <input asp-for="Alias" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.NewAlias"></label>
                <input asp-for="Input.NewAlias" class="form-control" />
                <span asp-validation-for="Input.NewAlias" class="text-danger"></span>
            </div>
            <div class="form-group d-flex">
                <button id="update-profile-button" type="submit" class="mt-2 mb-3 btn btn-lg btn-outline-light">Save</button>
            </div>

        </form>
    </div>
</div>