@{
    ViewData["Title"] = "Submit Report";
}
<div class="form-report text-center" style="max-width: 700px">
    <h1 class="h1 mb-5 fw-bold text-light">Submit a New Report</h1>

    <form class="text-dark">
        <div class="form-floating mb-4">
            <div class="col">
                <label class="text-light" for="datetimeincident">Approximate Date and Time of Incident:</label>
                <input type="datetime-local" id="datetimeincident" name="datetimeincident">
            </div>
        </div>

        <div class="form-floating mb-4">
            <select class="form-select" id="floatingSelect">
                <option selected>Choose an Option</option>
                <option value="1">Unsafe Act</option>
                <option value="2">Unsafe Conditions</option>
                <option value="3">Unsafe Equipment</option>
                <option value="4">Unsafe Structure</option>
            </select>
            <label for="floatingSelect">Type of Hazard</label>
        </div>

        <div class="form-floating mb-4">
            <div class="row mb-4">
                <div class="col">
                    <p class="text-light">Image of Hazard<i> (Optional)</i>:</p>
                </div>
                <div class="col form-floating text-light">
                    <input type="file" style="display:block !important;" />
                </div>
            </div>

            <div class="form-floating mb-4">
                <textarea class="form-control" placeholder="Description and Additional Information" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Description and Additional Information</label>
            </div>

            <a type="submit" class="btn btn-outline-light btn-block mb-4" asp-area="" asp-controller="Home" asp-action="Index">Submit Report</a>
        </div>
    </form>
</div>