@{ 
    ViewData["Title"] = "Hall of Fame";
}

<div class="container-fluid">
    <div class="row">
        <div id="sideNav" class="col-md-2">
            <p class="h4 fw-normal text-light">Sort by</p>
            <ul class="nav nav-pills flex-column">
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Hall">Highest Awarded</a></li>
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Hall">Highest Number of Reports</a></li>
            </ul>
            <hr>
        </div>

        <div id="maincontent" class="col-md-10">
            <a class="row pt-4" asp-area="" asp-controller="Profile" asp-action="Index">
                <div class="col-1 d-flex justify-content-center align-items-center" >
                    <span class="badge rounded-pill bg-warning text-dark">
                        <span class="h4">150</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star" viewBox="0 0 20 24">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                        </svg>
                    </span>
                </div>
                <div class="col-9 text-light border rounded-3 border-light">
                    <h2>Nathan Alfred</h2>
                    <h4>34 Reports</h4>
                </div>
                <div class="col-2">
                    <img src="/images/defaultprofile.png" width="96" height="96" alt="Image">
                </div>
            </a>

        </div>
    </div>
</div>