@using Nemesys.Models;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid px-sm-1 px-md-5 pt-1">
    <div class="row mt-5">
        <div id="sideNav" class="col-md-3">
            <p class="h4 fw-normal text-light">Sort by</p>
            <ul class="nav nav-pills flex-column">
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index">Highest Awarded</a></li>
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index">Date Added (Newest)</a></li>
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index">Date Added (Oldest)</a></li>
            </ul>
            <hr>

            <p class="h4 fw-normal text-light">Hall of Fame</p>
                @{ 
                    foreach (User user in ViewBag.HallOfFameUsers)
                    {
                        <a type="button" class="btn btn-outline-light text-left mb-3 pt-3 d-flex w-100" asp-area="" asp-controller="Profile" asp-action="Index">
                            <img src="/images/defaultprofile.png" width="48" height="48" class="rounded-circle">
                            <div class="pb-3 mb-0 lh-sm">
                                <p class="mb-0">@user.Name</p>
                                <span class="badge rounded-pill bg-warning text-dark">
                                    @user.NumberOfUpvotes
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 14 20">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                                    </svg>  
                                </span>
                            </div>
                        </a>
                    }
                }
            <a type="button" class="btn btn-light mb-2 w-100" asp-area="" asp-controller="Home" asp-action="Hall">See More</a>
        </div>

        <div class="col-md-1"></div>

        <div id="mainContent" class="col-md-8">
            <ul class="nav nav-tabs nav-justified text-center">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Index">Open</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Index">Under Investigation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Index">No Action Required</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger text-center" asp-area="" asp-controller="Home" asp-action="Index">Closed</a>
                </li>
            </ul>

            @{
                foreach (ReportWithUpvote report in ViewBag.Reports)
                { 
                    <div class="row pt-4">
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill=@(report.IsUpvoted ? "yellow" : "white") class="bi bi-star" viewBox="0 0 14 20">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                            </svg>
                        </div>
                        <a class="col-9" asp-area="" asp-controller="Report" asp-action="Index">
                            <div class="text-light border rounded-3 border-light p-3">
                                <h2>@report.Report.HazardType</h2>
                                <h4>Location goes here</h4>
                                <span>Status: </span>
                                <span class="text-success">@report.Report.Status</span>
                            </div>
                        </a>
                        <div class="col-2">
                            <img src=@report.Report.Photo width="128" height="128" alt="Photo of hazard">
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>