@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
    <h4 class="text-center">Create a new account</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Alias"></label>
        <input asp-for="Input.Alias" class="form-control" />
        <span asp-validation-for="Input.Alias" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Photo"></label>
        <input type="file" asp-for="Input.Photo" class="form-control" accept=".jpg, .jpeg, .png, .webp"/>
        <span asp-validation-for="Input.Photo" class="text-danger"></span>
    </div>
    <div class="form-group d-flex justify-content-center">
        <button type="submit" class="mt-2 mb-3 btn btn-lg btn-outline-light justify-content-center">Register</button>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}