body, html, .container-fluid {
    background-color: #000000;
    font-family: 'Work Sans', sans-serif;
    height: 100%;
}

.bodycolour 
{
    background-color: #000000;
}

a{
    text-decoration: none !important;
}

.form-report {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.form-control {
    margin-bottom: 15px;
}

.form-signin input[type="email"] {
    margin-top: 15px;
}

.text-left
{
    text-align: left !important;
}

.nav-tabs {
    display: flex;
}

.nav-tabs li {
    display: flex;
    flex: 1;
}

.nav-tabs li a {
    flex: 1;
}

input[type="file"] {
    display: none;
}

.profileupload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#parentimage
{
    position: relative;
    top: 0;
    left: 0;
}

#profileimage
{
    position: relative;
    top: 0;
    left: 0;
}

#changeimage
{
    position: absolute;
    top: 80%;
    left: 65%;
}